html, body {
  margin: 0;
  font-family: sans-serif;
}

.plots-container {
  display: flex;
  flex-flow: row wrap;
}

.plot-group {
  width: 100%;
  border-width: 3px 1px;
  border-style: solid;
  border-color: steelblue;
  border-radius: 6px;
}

.plot-group-plots {
  display: flex;
  flex-flow: row wrap;
  overflow: hidden;
}

.plot-group-title {
  flex: 0 1 100%;
  margin: 0;
  padding: 8px;
  font-size: 19px;
  font-weight: bold;
  background-color: #F0F0F0;
  border-radius: 6px 6px 0 0;
}

.graph-container {
  width: 48vw;
}
.graph-title {
  text-decoration: underline;
}

.graph-legend:only-child {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.graph-legend:only-child::before {
  content: "Loading...";
  display: block;
  font-size: 1.5em;
}

input[type=number] {
  width: 5ex;
}

.mg-active-datapoint {
  transform: translateY(2em);
}
